include LICENSE
include README.md
include pyproject.toml
include setup.py
include setup.cfg

# Include Python files but exclude tests
recursive-include jaxvmas *.py
recursive-exclude jaxvmas/*/tests *
recursive-exclude jaxvmas/*/*/tests *
recursive-exclude jaxvmas/*/*/*/tests *
global-exclude *test*.py *_test.py *test_*.py 